body{
    font-family: 'Courier New', Courier, monospace;
    width: 100wv;;
}
nav {
    text-align: center;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
li {
    padding: 0 2%;
    

}
.title{
    text-align: center
}